body{
    margin: 0 auto;
    width: 95%;
}
section > header {
    color: white;
    font-family: Verdana, sans-serif;
    background-image: url("header.jpg");
    font-size: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80px;
}
section > nav {
    background-color: #444444;
}
